<!DOCTYPE html>
<html>
<head>
    <title>Форма відгуку</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}
            {{ form.name(size=30) }}
        </div>
        <div>
            {{ form.comment.label }}
            {{ form.comment(rows=4) }}
        </div>
        <button class="button">Відправити відгук</button>
        <a href="{{ url_for('clear_database') }}" class="button">Очистити базу даних</a>
    </form>
    
    
    
    <h2>Відгуки</h2>
    <ul>
        {% for feedback in feedbacks %}
            <li><strong>{{ feedback.name }}:</strong> {{ feedback.comment }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>
