{% extends "base.html" %}

{% block title %}Про мене{% endblock %}

{% block content %}
<section>
    <h2>Про мене</h2>
    <p>Мене звати Павло. Я є веб-розробником деякий досвід у створенні веб-сайтів і веб-додатків. Моя мета - створити корисні та красиві веб-рішення для клієнтів та користувачів.</p>
    <p>Я володію такими навичками:</p>
    <ul>
        <li>HTML, CSS та трохи JavaScript</li>
        <li>Python і використання фреймворків, таких як Flask</li>
        <li>Розробка веб-інтерфейсів та взаємодія з серверними додатками</li>
        <li>Робота з базами даних, такими як MySQL та PostgreSQL</li>
    </ul>
    <p>Я завжди готовий до нових викликів та співпраці. Буду радий розглянути ваші проекти та спільні можливості.</p>
    <img src="{{ url_for('static', filename='images/bob.png') }}" alt="Моє фото">
</section>
{% endblock %}
