{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
<section>
    <h2>Контакти</h2>
    <p>Я завжди готовий приймати ваші запити та пропозиції. Зв'яжіться зі мною за допомогою електронної пошти або соціальних мереж:</p>
    <ul>
        <li>Email: example@example.com</li>
        <li>Twitter: <a href="https://twitter.com/example">https://twitter.com/example</a></li>
        <li>facebook: <a href="https://www.facebook.com/?locale=uk_UA">https://www.linkedin.com/in/example</a></li>
    </ul>
</section>
{% endblock %}
