{% set menu = {
    "Головна": url_for("index"), 
    "Про мене": url_for("about"), 
    "Проекти": url_for("projects"), 
    "Контакти": url_for("contact"),
} %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мій сайт{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            {% include 'nav.html' %}
        </header>
        <div class="container align-items-center flex-column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="list-group">
                    {% for category, message in messages %}
                        <li class="list-group-item list-group-item-{{category}}">{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
